body {
  background: #161616 url('../img/dark_pattern.gif') top left repeat;
  -webkit-font-smoothing: antialiased;

  font-family:proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-color: #fff;
  font-weight:400;
  line-height:1.28
}
h4 {
  font-family:proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:400;
}
.clear-10 {
  margin-top: 10px;
}
.clear-40 {
  margin-top: 40px;
}
.clear-70 {
  margin-top: 70px;
}
.logo {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 40px;
}
.close {
  opacity: .5;
}
.navbar {height: 56px;}
.navbar-default {background-color:#161616;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {
    border:0 solid #4285f4;border-bottom-width:2px;background-color:#161616;color:#fff;
}
.navbar-default .dropdown-menu {background-color:#161616;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}
.navbar-nav {background-color: #161616; margin-top:0px;}
.navbar-toggle{margin-top:5px!important;margin-right:0px !important;}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#161616;}
.btn {height: 43px;}
.btn,.form-control,.panel,.list-group,.well {border-radius:0px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;height:43px!important;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:0px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color: #4285f4; background-color: #494949; outline: 0; -webkit-box-shadow: inset 0 3px 3px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6); box-shadow: inset 0 3px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff,border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}
.btn-sep-right {margin-right:10px;}
.drop { margin-top: -5px!important; }
<!-- UI notification -->
.notification { width:350px!important; position:fixed; top:80px; right:10px; }
.ui-notify { width:350px!important; position:fixed; top:80px; right:10px; z-index:2000;}
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#fff; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #fff; -webkit-box-shadow: 0 0 6px #fff; box-shadow: 0 0 6px #fff; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }

.r3 { border-radius:3px; }
.r5 { border-radius:5px; }

v-spacer { margin-right: 5px!important;}

p { color: #fff;}

hr {
  border-color:#ececec;
  margin-top: 30px;
  margin-bottom: 15px;
}
button {
	outline: 0;
  margin-top:0px!important;
}
.message {
  margin-bottom: 10px;
  margin-top: 10px;
  padding:15px;
  min-height: 100px;
  border-radius:0px;box-shadow:0 0 0;
  border-color:#d7d7d7;
}
input[type="text"] {
  font-size: 1.8em;
  width: 100%;
  padding: 5px;
}
input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
.searchbutton {
  position: absolute;
}
#search {
  font-size: 1.8em;
  width: 250px;
  padding: 5px;
}
.pointer {
  cursor: pointer;
}
textarea {
  resize: none;
  outline: 0;
}
.triples {
  width: 100%;
  height: 100px;
}

pre {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
  background-color: inherit;
  border: 0px;
  padding: 0px;
}
.post-title {
  position: relative;
  padding-left: 100px;
  min-width: 100px;
  width: 70%;
}
.panel .btn i,.btn span{
  color:#666;
}
.panel .panel-heading {
  background-color:#fff;
  font-weight:700;
  font-size:16px;
  color:#262626;
  border-bottom: 0px;
}
.panel .panel-heading a {
  font-weight:400;
}
.panel .panel-heading small {
  font-weight:400;
}
.panel-heading {
  padding: 0px 5px 0px 0px!important;
  height: 70px;
  border-radius: 0px;
}
.panel-heading-small {
  margin:10px;
  padding: 2px 5px 0px 10px;
}
.panel .panel-default {
  border-color:#ccc;
}
.panel .panel-thumbnail {
  padding:0;
}
.panel .img-circle {
  width:50px;
  height:50px;
}
.panel-body {
  background: #494949;
  padding: 5px 15px 15px 15px;
}
.panel-body-text {
    min-height: 50px;
    margin-top: 15px;
}
.list-group-item:first-child,.list-group-item:last-child {
	border-radius:0;
}
.thumbnail {
  max-width: 80px;
}
.thumbnail-sm {
  max-width: 70px;
}
.thumb-pic {
  width:70px;
  padding-right: 5px;
  height: 70px!important;
}
.user-name {
  position:absolute;
  margin-left:70px;
  padding-top: 5px;
}
.user-thumb {
  margin-top: 7px;
  margin-right: 10px;  
  float: right;
}
.user-thumb img {
  height: 40px;
}
.card-name {
  margin-top:50px;
}
.panel-body-textmail h3 {
  margin-top: 10px;
  margin-left: 90px;
}
h2,h3 {
  color: #fff;
}
h4,h5 {
  color: #fff;
  border:0 solid #efefef; 
  border-bottom-width:0px;
  padding-bottom:10px;
}
h4 small {
  color: #fff;
}
h4 a, a:hover, a:visited {
  color: #fff;
}
.bold {
    font-weight: bold;
}
.modal-dialog {
  width: 400px!important;
}
.modal-body {
  padding: 5px!important;
  background: #161616 url('../img/dark_pattern.gif') top left repeat;
}
.modal-body p {
  font-size: 1.2em;
}
.modal-header {
  background: #161616 url('../img/dark_pattern.gif') top left repeat;
  border-bottom: 0px!important;
}
.modal-footer {
  margin-top: 0px!important;
  padding: 0px 0px 20px 0px!important;
  border-top: 0px!important;
  background: #161616 url('../img/dark_pattern.gif') top left repeat;
}
.center {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu {
    background-color:#fff;
    border-color:#f0f0f0;
    border-radius:0;
    margin-top:-1px;
    border-radius:3px;
}

.searchresults {
  background-color: #e5eeff;
  margin: 0px 10px 10px 10px;
}
/* end theme */
code {
  word-break: break-all;
  word-wrap: break-word;
  color: #fff !important;
}
#signup {
  width:350px;
  height:200px;
}

.spinner {
    width: 128px;
    height: 128px;
    margin: 80px auto;
    background-image: url(../img/load.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.spinner-small {
    width: 28px !important;
    height: 28px !important;
    background-image: url(../img/load.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/* template layout*/
#subnav {
	position:fixed;
    width:100%;
}

#main {
	padding-top:60px;
}

.top-border {
  padding-top: 3px;
}
a.link-post {
  margin-top: 15px;
  color: #fff;
}
a.link-white {
  color: #fff;
}
.thumb {
  height: 20px;
}
.light-blue {
  background-color: #3bafda!important;
}
.dark-blue {
  background-color: #4285f4!important;
}
.blue {
  color: #4285f4 !important;
}
.green {
  color: green !important;
}
.white {
  color: #fff !important;
}
.black {
  color: #000 !important;
}

.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

.m10 {
  margin: 10px;
}
.mt30 {
  margin-top: 30px;
}
.w60 {
  width: 60px;
}
iframe {border:0px;}

.dots {
  width: 6px;
  height: 6px;
  margin-left:2px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
}

@-webkit-keyframes typing {
    0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{ 
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}

@-moz-keyframes typing {
   0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{ 
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}

@keyframes typing {
   0%{
        background-color: rgba(255,255,255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
      }
    25%{ 
        background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                    24px 0px 0px 0px rgba(255,255,255,0.2);
    }
    75%{ background-color: rgba(255,255,255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                    24px 0px 0px 0px rgba(255,255,255,1);
      }
}

/* Second Loadin Circle */
.circle {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 35px #2187e7;
  margin:0 auto;

  width:30px;
  height:30px;

  -moz-animation:spinPulse 1s infinite ease-in-out;
  -webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);
  border-radius:50px;
  box-shadow: 0 0 15px #2187e7; 
  margin:0 auto;
  position:relative;

  width:15px;
  height:15px;
  top:-22px;

  -moz-animation:spinoffPulse 1s infinite linear;
  -webkit-animation:spinoffPulse 1s infinite linear;
}

@-moz-keyframes spinPulse {
  0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
  50% { -webkit-transform:rotate(145deg); opacity:1;}
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}

.circle-large {
  width:80px !important;
  height:80px !important;
}
.circle1-large {
  width:40px !important;
  height:40px !important;
  top:-60px !important;
}