<div class="panel panel-default">
    <div class="panel-heading main-header"> </div>
    <form>
    </form>
    <div class="panel-body">
        <h2 class="text-center"><i class="fa fa-search"></i> Find People</h2>
        <form>
            <p class="text-center">Search by name, email or WebID..</p>
            <div class="">
                <div class="text-center col-md-6 col-md-offset-3 col-xs-12">
                    <input type="search" id="search" name="search" class="form-control" ng-model="search.query" ng-change="lookupWebID(search.query)" ng-pattern="/^[A-Za-z0-9_#.:/]*$/">
                 <!--    <button class="btn btn-primary searchbutton" ng-click="getInfo(search.webid); searchbtn='Searching...'" ng-disabled="!search.webid"><i class="fa fa-search"></i> {{searchbtn}}</button> -->
                </div>
            </div>
            <div ng-show="search.loading" class="mt30">
                <div class="circle circle-large"></div><div class="circle1 circle1-large"></div>
            </div>
            <h4 class="black text-center" ng-show="!found">No WebID found at given location.</h4>
        </form>
    </div>
</div>