#new-channel-button {
	position: absolute;
	margin: 10px;
	top: 10px;
	right: 30px;
	
}

#channel-modal {
	border: 1px solid #ddd;
	overflow: auto;
	border-radius: 15px;
}



#channel-create-button {
	margin-left: 30px;
	float: right;
}

#audience-group {
	margin-right: 20px;
}

#modal-channel-group {
	align: center;
	margin-top: 30px;
}

.audience-dropdown {
	align: left;
}

.channel-menu-btn.btn-primary {
	height: 45px;
	width: 45px;
	margin: 10px;
	font-size: 2em;
	border-radius: 5px;
	border: none;
}

.channel-list-item {
	width: 90%;
}

.channel-list {
	margin-top: 55px;
}

.panel-header-body {
	margin: 10px;
}

.channelsHeader {
	font-weight: bold;
}

.chan-panel-heading{
  font-size: 2em !important; 
  font-weight: 400;
  overflow: auto;
}

.chan-panel-body-text {
  font-size: 1.2em !important; 
  font-weight: 200;
  min-height: 25px;
  margin-left: 5px;
}

.form-control.add-channel-input {
  width: 80%;
  margin-left: 10%;
}