
<div>
	
<!-- 	<a href ui-sref="manage">
		<button class='fa fa-wrench channel-menu-btn btn-primary pull-right' title='Manage Channels' disabled></button>
	</a> -->
	<!-- <div>  -->
	<!-- </div> -->
	<new-channel ng-show="newChannelModal">
	</new-channel>

    <div class="container channel-list">
    	<div class="row">
		    <div class="col-md-6" align="center">
		    	<div class="panel panel-default channel-list-item">
		    		<div class="panel-heading main-header">
		    		</div>
		    		<div class="panel-body" >
		    			<div class="row chan-header-container">
		    				<div class="col-md-11 col-xs-8 ">
		    				<h2 class="panel-header-body bold pull-left">My Channels</h2></div>
		    				<div class="col-md-1 col-xs-4">
		    				<button class='btn channel-menu-btn btn-primary pull-right' ng-click="showPopup('new','')" id="new-channel-button" title="New Channel"><span class="fa fa-plus fa-2x fa-icon" ></span></button>
		    				</div> 
		    			</div>
		    		</div>
		    	</div>
		    	<div ng-show="loading">
	                <!-- <div class="spinner"> -->
	                <div class="clear-40">
	                  <div class="circle circle-large"></div><div class="circle1 circle1-large"></div>
	                </div>
	                <!-- <div class="gear"></div> -->
	            </div>
		        <div ng-show="!loading" ng-repeat="channel in userProfile.channels" class="channel-list-item panel panel-default">
			        <div class="chan-panel-heading panel-heading sub-header">
			        	<div class="pull-left"><a ui-sref="view({path: safeUri(channel.uri)})" class="link-white bold">{{channel.title}}</a>
			        	</div>
		                <div class="pull-right"><button type="button" class="delete" ng-click="showPopup('del', channel.uri)"><span class="fa fa-trash-o"></span></button></div>
			        	<br style="line-height:25%"/>
				    </div>
				    <div class="panel-body">
				        <div class="chan-panel-body-text" align="left">
				            By: <a href="{{channel.owner}}"><i> {{users[channel.owner].name}}</i></a>
				        </div>
				    </div>
			    </div>
		    </div>

		    <div ng-show="deleteChannelStatus" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="popup">
			        <div class="modal-content col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
		                <button type="button" class="close" ng-click="hidePopup()" aria-hidden="true">x</button>              
		                <h3 class="text-center">Are you sure you want to delete this channel permanently?</h3>
		                * Note: deleting this channel will also delete all posts in the channel permanently.
		                <p>
			                <div class="col-md-12">
			                    <button class="btn btn-primary" ng-click="hidePopup(); deleteChannel()" style="float:right">Confirm</button>
			                </div>
		            	</p>
			        </div>
			    </div>
			</div>

		    <div class="col-md-6" align="center">
		    	<div class="panel panel-default channel-list-item">
		    		<div class="panel-heading main-header">
		    		</div>
		    		<div class="panel-body" >
		    			<div class="row chan-header-container">
		    				<div class="col-md-11 col-xs-8 ">
		    				<h2 class="panel-header-body bold pull-left">Subscribed Channels</h2></div>
		    				<div class="col-md-1 col-xs-4">
		    				<button class='btn channel-menu-btn btn-primary pull-right' ng-click="goPath('/find')" id="find-channel-button" title="Find Channel"><span class="fa fa-search fa-2x fa-icon"></span></button>
		    				</div>    
		    			</div>
		    		</div>
		    	</div>
		    	<div ng-repeat="channel in userProfile.subscribedChannels" class="channel-list-item panel panel-default">
			        <div class="chan-panel-heading panel-heading sub-header">
			        	<div class="pull-left"><a ui-sref="view({path: safeUri(channel.uri)})" class="link-white bold">{{channel.title}}</a>
			        	</div>

			        	<div class="pull-right">
			        		<button type="button" class="delete" title="Unsubscribe" ng-click="channelTog(channel)"><span class="fa fa-trash-o"></span></button>
			        	</div>
		                
			        	<br style="line-height:25%"/>
				    </div>
				    <div class="panel-body">
				        <div class="chan-panel-body-text" align="left">
				             By: <a href="{{channel.owner}}">
				             <i>{{channel.author}}</a>
				        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
	<!-- <div class="overlay" ng-show="showOverlay" ng-click="hidePopup()"></div> -->
</div>


<!-- <form>
			            <div class="input-group">
			                <div class="input-group-btn pull-right">
			                    <button class="btn btn-success" rel="tooltip" data-placement="top" title="Read full message">More</button>
			                    <button class="btn btn-default" rel="tooltip" data-placement="top" title="Star Channel" ng-click="starPost()"><i class="fa fa-star fa-2x"></i></button>
			                    <button class="btn btn-default" data-placement="top" title="Delete Channel"><i class="fa fa-trash-o fa-2x"></i></button>
			                </div>
			            </div>
			        </form> -->