<div ng-click="hideMenu()">
	<div class = "panel-body" overflow='auto'>
		<h1> All Channels </h1>
		<div id="channels" ng-repeat="channel in channels">
			<div class="channelItem row">
				<div class="channel-title pull-left"> 
					<a ui-sref="view({channelName: channel.title, channelUri: channel.uri} )" >{{channel.title}}</a>
				</div>
				<div class="channel-owner pull-left">by 
					<a href="{{post.userwebid}}" class="link-white bold" target="_blank">{{channel.owner}}</a> 
				</div>
 
			</div>
		</div>
    </div>
    <a href ui-sref="manage">
		<div>
	  		<i class="fa fa-plus fa-2x">Manage Channels</i>
		</div>
	</a>
</div>		