
<div ng-controller="ChannelsCtrl">
	<button class='btn channel-menu-btn btn-primary pull-right' ng-click="showPopup()" id="new-channel-button" title="New Channel"><span class="fa fa-plus fa-2x" id="plus-img"></span></button> 
<!-- 	<a href ui-sref="manage">
		<button class='fa fa-wrench channel-menu-btn btn-primary pull-right' title='Manage Channels' disabled></button>
	</a> -->
	<!-- <div>  -->
	<!-- </div> -->
    <div id="channel-modal" ng-show="newChannelModal" class="popup">
    	<div class="pull-right">
    		<button type="button" class="close" ng-click="hidePopup()">X</button>
    	</div>
      <div>
          
          <h2 class="text-center">Create a new channel</h2>
      </div>
      <div>
          <form ng-controller="ChannelsCtrl">
	          <p>The name you provide will be used to create a new channel inside your microblog.</p>
	          <p class="center"><input type="text" class="form-control add-channel-input" ng-model="channelname" placeholder="Name (Main, Work, etc.).." required ng-pattern="/^[A-Za-z0-9_ ]*$/"></input></p>
	          <div id="modal-channel-group" class="btn-group-horizontal"> 
		          <div id="audience-group" class="btn-group">
		              <button id="audience" class="btn btn-primary" disabled>
		              	<i class="fa {{audience.icon}} fa-2x white"></i>
		              </button>
		              <button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"> 
		              	<small class="drop" rel="tooltip" data-placement="top" title="Audience">
		              		<i class="fa fa-chevron-down fa-2x"></i>
		              	</small>
		              </button>
		              <ul class="dropdown-menu audience-dropdown" role="menu" aria-labelledby="audience">
		                  <li ng-click="setAudience('public')">
		                  	<a href="#/channels">
		                  		<i id="public" class="fa fa-globe fa-2x default-color"></i> 
		                  		Public
		                  	</a>
		                  </li>
		                  <li ng-click="setAudience('private')">
		                  	<a href="#/channels">
		                  		&nbsp;
		                  		<i id="private" class="fa fa-lock fa-2x default-color"></i>
		                  		&nbsp; Private
		                  	</a>
		                  </li>
		                  <li ng-click="setAudience('friends')">
		                  	<a href="#/channels">
		                  		&nbsp;
		                  		<i id="friends" class="fa fa-users fa-2x default-color"></i>
		                  		&nbsp; Friends
		                  	</a>
		                  </li>
		              </ul>
		          </div>		      
	              <button class="btn btn-primary" ng-disabled="!channelname" ng-click="newChannel(channelname, true)">
	              	{{createbtn}}
	              </button>		         
	          </div>                
          </form>
      </div>
    </div>

    <div class="container channel-list">
<!--     	<div class="panel panel-default">
    		<div class="panel-heading main-header"></div>
    		<div class="panel-body">
    			<div class="center">Channels</div>
    		</div>
    	</div> -->
    	<div class="row">
		    <div class="col-md-6" align="center">
		    	<div class="panel panel-default channel-list-item">
		    		<div class="panel-heading main-header">
		    		</div>
		    		<div class="panel-body" >
		    			<div align="center">
		    				<h3 class="bold panel-header-body">My Channels</h3>
		    			</div>
		    		</div>
		    	</div>
		        <div ng-repeat="channel in users[userProfile.webid].channels" class="channel-list-item panel panel-default">
			        <div class="chan-panel-heading panel-heading sub-header">
			        	<div class="pull-left"><a ui-sref="view({path: safeUri(channel.uri)})" class="link-white bold">{{channel.title}}</a>
			        	</div>
		                <div class="pull-right"><button type="button" class="close" ng-click="deleteChannel(channel.uri)">x</button></div>
			        	<br style="line-height:25%"/>
				    </div>
				    <div class="panel-body">
				        <div class="chan-panel-body-text" align="left">
				            By: <a href="{{channel.owner}}"><i> {{users[channel.owner].name}}</i></a>
				        </div>
				    </div>
			    </div>
		    </div>

		    <div class="col-md-6" align="center">
		    	<div class="panel panel-default channel-list-item">
		    		<div class="panel-heading main-header">
		    		</div>
		    		<div class="panel-body" >
		    			<div align="center">
		    				<h3 class="panel-header-body bold">Subscribed Channels</h3>
		    			</div>
		    		</div>
		    	</div>
		    	<div ng-repeat="channel in userProfile.subscribedChannels" class="channel-list-item panel panel-default">
			        <div class="chan-panel-heading panel-heading sub-header">
			        	<div class="pull-left"><a ui-sref="view({path: safeUri(channel.uri)})" class="link-white bold">{{channel.title}}</a>
			        	</div>

			        	<div class="pull-right">
			        		<button type="button" class="close" title="Unsubscribe" ng-click="channelTog(channel)">x</button>
			        	</div>
		                
			        	<br style="line-height:25%"/>
				    </div>
				    <div class="panel-body">
				        <div class="chan-panel-body-text" align="left">
				             By: <a href="{{channel.owner}}">
				             <i>{{channel.author}}</a>
				        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
	<div class="overlay" ng-show="showOverlay" ng-click="hidePopup()"></div>
</div>


<!-- <form>
			            <div class="input-group">
			                <div class="input-group-btn pull-right">
			                    <button class="btn btn-success" rel="tooltip" data-placement="top" title="Read full message">More</button>
			                    <button class="btn btn-default" rel="tooltip" data-placement="top" title="Star Channel" ng-click="starPost()"><i class="fa fa-star fa-2x"></i></button>
			                    <button class="btn btn-default" data-placement="top" title="Delete Channel"><i class="fa fa-trash-o fa-2x"></i></button>
			                </div>
			            </div>
			        </form> -->