<div class="panel panel-default"> <!-- debug -->
    <div class="panel-heading dark-blue">
        <div class="pull-left">
            <a id="pic" class="thumbnail pull-right" href="{{userProfile.webid}}">
              <img class="media-object" ng-src="{{users[userProfile.webid].picture}}" rel="tooltip" data-placement="top" title="{{users[userProfile.webid].name}}">
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body-textmail">
          <div id="spinner" ng-hide="users[userProfile.webid].name"></div>
          <h3 class="bold" ng-show="profileloading">Loading profile...</h3>
          <h3 class="bold" ng-show="users[userProfile.webid].name && !users[userProfile.webid].chspace">Hello {{users[userProfile.webid].name}}!</h3>
          <h3 class="bold" ng-show="users[userProfile.webid].chspace">What's new<span ng-show="users[userProfile.webid].name != ''">, {{users[userProfile.webid].name}}</span>?</h3>
          <form ng-hide="userProfile.webid && !users[userProfile.webid].chspace">                               
              <textarea name="message" ng-model="postbody" class="form-control message" placeholder="Type your message here.." required></textarea>
              <div class="pull-left">
                <div class="btn-group">
                    <button id="audience" class="btn btn-primary" disabled><i class="fa {{audience.icon}} fa-2x white"></i></button><button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"> <small class="drop" rel="tooltip" data-placement="top" title="Audience"><i class="fa fa-chevron-down fa-2x"></i></small></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="audience">
                        <li><a href="#home" ng-click="setAudience('public')"><i id="public" class="fa fa-globe fa-2x blue"></i>&nbsp; Public</a></li>
                        <li><a href="#home" ng-click="setAudience('private')">&nbsp;<i id="private" class="fa fa-lock fa-2x blue"></i>&nbsp;&nbsp; Private</a></li>
                        <li><a href="#home" ng-click="setAudience('friends')">&nbsp;<i id="friends" class="fa fa-user fa-2x blue"></i>&nbsp;&nbsp;Friends</a></li>
                    </ul>
                </div>
                <div class="btn-group" ng-show="users[userProfile.webid].channels.length > 0" rel="tooltip" data-placement="top" title="Channels">
                    <button id="chs" class="btn btn-primary" disabled>{{defaultChannel.title}}</button><button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"> <small class="drop" rel="tooltip" data-placement="top" title="Channels"><i class="fa fa-chevron-down fa-2x"></i></small></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="chs">
                        <li ng-repeat="channel in users[userProfile.webid].channels | orderBy:'title'">
                            <a href="#home" ng-click="setChannel(channel.title)">{{channel.title}}</a>
                        </li>
                    </ul>
                </div>
              <div class="pull-right">
                  <button class="btn btn-primary pull-right w60" ng-click="newPost()" ng-disabled="!postbody">
                    <div ng-show="!publishing">Post</div>
                    <div ng-show="publishing" class="dots"></div>
                  </button>
              </div>
          </form>
        </div>
    </div>
</div>