<div ng-animate="{enter: 'animate'}" class="panel panel-default" custom ng-repeat="post in posts | unique:'uri' | orderBy:'date':true ">
    <div class="panel-heading light-red">

        <form class="pull-right post-options-group">
            <div class="input-group">
                <div class="input-group-btn pull-left">
                    <button class="btn btn-success" rel="tooltip" data-placement="top" title="Read full message">More</button>
                    <button class="btn btn-default" rel="tooltip" data-placement="top" title="Star message" ng-click="starPost()"><i class="fa fa-star fa-2x"></i></button>
                    <button class="btn btn-default" data-placement="top" title="Delete message" ng-click="deletePost(post, post.channel, true)" ng-show="userProfile.webid == post.userwebid"><i class="fa fa-trash-o fa-2x"></i></button>
                    <a href="{{post.uri}}" class="btn btn-default" target="_blank">
                        <i class="fa fa-link fa-2x"></i>
                    </a>        
                </div>
            </div>
        </form>
        <h4>
        	<span class="pull-left" rel="tooltip" data-placement="top" title="{{post.date}}">{{post.date | fromNow}}</span><div class="pull-left">&nbsp;by <a href="{{post.userwebid}}" class="link-white bold" target="_blank">{{post.username}}</a> </div>
        	<br style="line-height:150%"/>
        	<small><a href="{{post.channel}}" class="link-white pull-left" target="_blank">In {{post.chtitle}}</a></small>
        </h4>
        <br/>
        <div class="pull-left">
            <a class="thumbnail pull-right" href="#{{post.$$hashKey}}" role="button" data-toggle="modal">
              <img class="media-object thumb-pic" ng-src="{{post.userpic}}" rel="tooltip" data-placement="top" title="{{post.username}}">
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body-text" align="left">
            <p>
                <pre ng-bind-html="post.body | makeLinks"></pre>
            </p>
        </div>        
    </div>
    <!-- user info modal -->
    <div id="{{post.$$hashKey}}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <div class="text-center">
                        <a class="thumbnail center" href="{{post.userwebid}}" target="_blank">
                            <img class="media-object thumb-pic" ng-src="{{post.userpic}}" rel="tooltip" data-placement="top" title="{{post.username}}">
                        </a>
                        <h3><a href="{{post.userwebid}}" target="_blank">{{post.username}}</a></h3>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button class="btn btn-info"><i class="{{sub.icon}} white"></i> {{sub.text}}</button>
                    </div>
                </div>
                <div class="modal-footer">
                  <div class="col-md-12">
                      <button class="btn btn-info btn-sep-right" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>  
              </div>
            </div>
        </div>
    </div>
</div>
