
<div class="container" ng-click="hideMenu()" ng-show="loggedin" align="center">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
			    <div class="panel-heading main-header"> </div>
			    <div class="panel-body">
			        <h2 class="text-center" ng-show="users[webid].name">Channels for {{users[webid].name}}</h2>
			    </div>
			</div>

			<div class="two-col-list">
				<div class="panel panel-default" ng-repeat="ch in users[webid].channels">
					<div class="panel-heading chan-panel-heading sub-header">
						<div class="pull-left"><a ui-sref="view({path: safeUri(ch.uri)})" class="link-white bold">{{ch.title}}</a></div>
						<button class="btn pull-right" ng-class="ch.css" ng-click="toggleChannel(ch)" rel="tooltip" data-placement="top" title="{{ch.action}}"><i class="fa {{ch.button}} fa-2x"></i></button>
					</div>
					<div class="panel-body"></div>
				</div>
				<div ng-show="search.channel_size % 2 == 1"></div>
			</div>
		</div>
	</div>
</div>