<div class="searchresults panel panel-default">
    <div class="panel-heading dark-red">
        <div class="pull-left">
            <a class="thumbnail thumbnail-sm pull-right" href="{{search.webid}}">
              <img class="media-object" ng-src="{{search.picture}}" rel="tooltip" data-placement="top" title="{{search.name}}">
            </a>
        </div>
        <div class="panel-body-text">
            <h3 class="white bold text-center">{{search.name}}</h3>
            <h4 class="black text-center">Has {{search.channel_size}} channels.</h4>
        </div>
    </div>
    
    <div class="panel-body row">
        <div class="black sub-list" ng-repeat="ch in search.channels">
            <div class="col-md-1 col-md-offset-{{($index % 3) * 3}}">
                <button class="btn" ng-class="ch.css" ng-click="channelToggle(ch, search)" rel="tooltip" data-placement="top" title="{{ch.action}}"><i class="fa {{ch.button}} fa-2x"></i></button>
            </div>
            <div class="col-md-2 sub-list-title">
                <a href="{{ch.uri}}" target="_blank">{{ch.title}}</a>
            </div>
        </div>
    </div>
</div>
