<div ng-click="hideMenu()">

	<!-- no posts found -->
    <div id="setup" class="container" ng-show="me.gotposts == false">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default text-center">
                    <h3>You haven't posted anything. Try writing a new post or <a href="#subscribeModal" role="button" data-toggle="modal"><button class="btn btn-primary"><i class="fa fa-rss white"></i> subscribe</button></a> to someone's channels!</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="newpost" class="container" ng-controller="PostsController as postCtrl">
        <div class="row">
            <!-- <div class="clear-70"></div> -->
            <div class="col-md-12">
                <!-- new post -->
                <div class="panel panel-default" ng-show="loggedin"> <!-- debug -->
                    <div class="panel-heading dark-blue">
                        <div class="pull-left">
                            <a id="pic" class="thumbnail pull-right" href="{{me.webid}}">
                              <img class="media-object" ng-src="{{me.pic}}" rel="tooltip" data-placement="top" title="{{me.name}}">
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-textmail">
                          <div id="spinner" ng-hide="me.name"></div>
                          <h3 class="bold" ng-show="profileloading">Loading profile...</h3>
                          <h3 class="bold" ng-show="me.name && !me.chspace">Hello {{me.name}}!</h3>
                          <h3 class="bold" ng-show="me.chspace">What's new<span ng-show="me.name != ''">, {{me.name}}</span>?</h3>
                          <form ng-hide="me.webid && !me.chspace">                               
                              <textarea name="message" ng-model="postbody" class="form-control message" placeholder="Type your message here.." required></textarea>
                              <div class="btn-group">
                                  <button id="audience" class="btn btn-primary" disabled><i class="fa {{audience.icon}} fa-2x white"></i></button><button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"> <small class="drop" rel="tooltip" data-placement="top" title="Audience"><i class="fa fa-chevron-down fa-2x"></i></small></button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="audience">
                                      <li><a href="#" ng-click="setAudience('public')"><i id="public" class="fa fa-globe fa-2x blue"></i> Public</a></li>
                                      <li><a href="#" ng-click="setAudience('private')">&nbsp;<i id="private" class="fa fa-lock fa-2x blue"></i>&nbsp; Private</a></li>
                                      <!-- <li><a href="#" ng-click="setAudience('friends')"><i id="friends" class="fa fa-user fa-2x blue"></i> Friends</a></li> -->
                                  </ul>
                              </div>

                              <div class="btn-group" ng-show="me.channels.length > 0" rel="tooltip" data-placement="top" title="Channels">
                                  <button id="chs" class="btn btn-primary" disabled>{{defaultChannel.title}}</button><button class="btn dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"> <small class="drop" rel="tooltip" data-placement="top" title="Channels"><i class="fa fa-chevron-down fa-2x"></i></small></button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="chs">
                                      <li ng-repeat="channel in me.channels | orderBy:'title'">
                                          <a href="#" ng-click="setChannel(channel.title)">{{channel.title}}</a>
                                      </li>
                                  </ul>
                              </div>
                              <div class="pull-right">
                                  <button class="btn btn-primary pull-right w60" ng-click="newPost()" ng-disabled="!postbody">
                                    <div ng-show="!publishing">Post</div>
                                    <div ng-show="publishing" class="dots"></div>
                                  </button>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
                <!-- end new post -->
            </div>
        </div>
    </div>

	<div id="posts" class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <!-- Loading animation -->
	            <div class="panel panel-default text-center" ng-show="loading">
	                <!-- <div class="spinner"> -->
	                <div class="clear-40">
	                  <div class="circle circle-large"></div><div class="circle1 circle1-large"></div>
	                </div>
	                <!-- <div class="gear"></div> -->
	            </div>
	            <!-- All posts go into <posts-viewer> -->
	            <!-- ngRepeat: post in posts | unique:'uri' | orderBy:'date':true -->
	            <posts-viewer ng-show="loggedin"></posts-viewer>
	        </div>
	    </div>
	</div>
</div>
