<div class="panel-body" overflow='auto'>
	<div id="posts" class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <!-- Loading animation -->
	            <div class="panel panel-default text-center" ng-show="loading">
	                <!-- <div class="spinner"> -->
	                <div class="clear-40">
	                  <div class="circle circle-large"></div><div class="circle1 circle1-large"></div>
	                </div>
	                <!-- <div class="gear"></div> -->
	            </div>
	            <!-- All posts go into <posts-viewer> -->
	            <!-- ngRepeat: post in posts | unique:'uri' | orderBy:'date':true -->
	            <!-- <list-posts ng-show="loggedin"></list-posts> -->

	            <li ng-animate="{enter: 'animate'}" class-"panel panel-default" custom ng-repeat="post in allPosts.channelUri | unique:'uri' | orderBy:'date':true">
	            	{{post.body}}</li>
	        </div>
	    </div>
	</div>
</div>