<div ng-click="hideMenu()" ng-controller="PostsController as postCtrl">
	<div id="newpost" class="container">
        <div class="row">
            <!-- <div class="clear-70"></div> -->
            <div class="col-md-12">
                <!-- new post -->
                <post-channel ng-show="channelTitle != ''"></post-channel>
                <!-- end new post -->
            </div>
        </div>
    </div>
	<div id="posts" class="container">
	    <div class="row">
	    	<div class="col-md-12">
	            <!-- Loading animation -->
	            <div class="panel panel-default text-center" ng-show="loading">
	                <!-- <div class="spinner"> -->
	                <div class="clear-40">
	                  <div class="circle circle-large"></div><div class="circle1 circle1-large"></div>
	                </div>
	                <!-- <div class="gear"></div> -->
	            </div>
	            <div class="panel panel-default text-center" ng-show="!channels[chanUri].posts && !loading">
	        		<h3>We could not find any posts for this channel</h3>
	    		</div>
	    		<div class="two-col-list">
		            <!-- All posts go into <posts-viewer> -->
		            <!-- ngRepeat: post in posts | unique:'uri' | orderBy:'date':true -->
		            <!-- <list-posts ng-show="loggedin"></list-posts> -->
		        	<list-posts ng-show="channels[chanUri].posts && !loading"></list-posts>
        		</div>
        	</div>
        </div>	
	</div>
</div>