<div ng-animate="{enter: 'animate'}" class="panel panel-default" custom ng-repeat="post in channels[chanUri].posts | unique:'uri' | orderBy:'date':true">
    
    <div class="panel-heading sub-header post-header">
        <div class="pull-left post-img">
            <a class="thumbnail" href="" ng-click="userModal = true; showOverlay = true"role="button" data-toggle="modal">
                <img class="media-object thumb-pic" ng-src="{{post.userpic}}" err-src="assets/generic_photo.png" rel="tooltip" data-placement="top" title="{{post.username}}">
            </a>
        </div>

       <!--  <a href="{{post.uri}}" class="link-post pull-right" target="_blank"><i class="fa fa-link"></i> Link to post</a> -->
        <div class="post-info pull-left">
        	<div class="post-usr-name"><a href="{{post.userwebid}}" target="_blank">{{post.username}}</a></div>
            <div class="post-time"><span rel="tooltip" data-placement="top" title="{{post.date}}">{{post.date | fromNow}}</span></div>
        	
        	<!-- <small><a href="{{post.channel}}" class="link-white pull-left" target="_blank">In {{channelTitle}}</a></small> -->
        </div>

        <div class="dropdown post-options-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="post-options" data-toggle="dropdown">
                <span class="fa fa-angle-down fa-2x"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="post-options">
                <li role="presentation" ng-click="starPost()"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-star"></i> Favorite</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{post.uri}}" target="_blank"><i class="fa fa-link"></i> Link to post</a></li>
                <li role="presentation" ng-click="deletePost(post, post.channel, true)" ng-show="userProfile.webid == post.userwebid"><a role="menuitem" tabindex="-1" href=""><i class="fa fa-trash-o"></i> Delete Post</a></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body-text" align="left">
            <p>
                <pre ng-bind-html="post.body | makeLinks"></pre>
            </p>
        </div>        
      <!--   <div class="post-options-group">
            <div class="">
                <button class="btn btn-default" rel="tooltip" data-placement="top" title="Star message" ng-click="starPost()"></button>
                <a ng-click="starPost()"><i class="fa fa-star"></i> Favorite</a>
                <button class="btn btn-default" data-placement="top" title="Delete message" ng-click="deletePost(post, post.channel, true)" ng-show="userProfile.webid == post.userwebid"><i class="fa fa-trash-o"></i></button>
                <a href="{{post.uri}}" target="_blank">
                    <i class="fa fa-link"></i> Link to post
                </a>  
            </div>
        </div>  -->       
    </div>

    <!-- user info modal -->
    <div ng-show="userModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="popup user-info-modal">
            <button type="button" class="close" ng-click="userModal = false; showOverlay = false" aria-hidden="true">x</button>    
            <div class="pull-left">
                <a class="thumbnail center" href="{{post.userwebid}}" target="_blank">
                    <img class="media-object thumb-pic" ng-src="{{post.userpic}}" rel="tooltip" data-placement="top" title="{{post.username}}">
                </a>
            </div> 
            <div class="modal-header text-center">
                <div>
                    <h3><a href="{{post.userwebid}}" target="_blank">{{post.username}}</a></h3>
                </div>
            </div>        
        </div>
    </div>

    <div class="overlay" ng-show="showOverlay" ng-click="userModal = false; showOverlay = false"></div>
</div>