<div class="searchresults">
    <div class="panel-heading dark-blue">
        <div class="pull-left">
            <a class="thumbnail thumbnail-sm pull-right" href="#">
              <img class="media-object" src="{{search.pic}}" rel="tooltip" data-placement="top" title="{{search.name}}">
            </a>
        </div>
    </div>
    <div class="panel-body-text">
        <h4 class="black bold">{{search.name}}</h4>
        <h4 class="black">Has the following channels:</h4>
    </div>
    <div class="panel-body">
        <h4 class="black" ng-repeat="ch in search.channels">
            <button class="btn" ng-class="ch.selected" ng-click="toggleSelection(ch.uri)">{{ch.status}}</button>
            <a href="{{ch.uri}}" target="_blank">{{ch.title}}</a>
        </h4>
    </div>
</div>