<div class="panel panel-default" custom ng-repeat="item in Items">
    <div class="panel-heading light-blue">
        <a href="{{item.uri}}" class="link-post pull-right"><i class="icon-link"></i> Link to post</a> <h4 class="bold">Posted by {{item.username}}, {{item.date}}</h4>
        <div class="pull-left">
            <a class="thumbnail pull-right" href="#">
              <img class="media-object thumb-pic" src="{{item.userpic}}" rel="tooltip" data-placement="top" title="{{item.username}}">
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="panel-body-text">
            <p>{{item.body}}</p>
        </div>
        <hr>
        <form>
            <div class="input-group">
              <div class="input-group-btn">
                <button class="btn btn-success" rel="tooltip" data-placement="top" title="Read full message">More</button>
                <button class="btn btn-default" rel="tooltip" data-placement="top" title="Star message" ng-click="starPost()"><span class="icon-star icon-2x"></span></button>
                <button class="btn btn-default" data-placement="top" title="Delete message" ng-click="deletePost()"><i class="icon-trash icon-2x"></i></button>
              </div>
            </div>
        </form>
    </div>
</div>